:root {
  // FONTS
  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  // COLORS
  --color-bg: #739aff;
  --color-bg-card: #565abb;
  --color-bg-input: #6268c6;

  --color-blue-1: #5f65c3;

  --color-white-1: #fff;
  --color-white-2: #fefcfc;
  --color-white-3: #c4c4c4;

  --color-black-1: #1e1e1e;

  --color-gray-1: #d0cfcf;
  --color-gray-2: #393939;
  --color-gray-3: #d9d9d933;

  --color-green-1: #4de1c1;

  --color-red-1: #dc3545;

  --color-orange-1: #f39c12;

  // BOX AND TEXT SHADOWS
  --shadow-1: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
